sudo: required
dist: trusty

language: c

git:
  submodules: false

branches:
  only:
  - master

services:
  - docker

before_install:
    - docker pull fedora:25

script: docker run -v `pwd`:/tmp fedora:25 /bin/bash -c "dnf install gcc findutils git wget dnf-plugins-core -y && dnf copr enable damo22/librecore-xgcc -y && dnf install librecore-xgcc -y && export PATH=${PATH}:/opt/xgcc-1.46/bin && cd /tmp && i386-elf-gcc --version && arm-eabi-gcc --version && aarch64-elf-gcc --version && make get-dev-librecore && make test-all"
